language: android
android:
  components:
    - build-tools-25.0.2
    - android-25
    - extra-android-m2repository
    - extra-google-m2repository
  licenses:
    - 'android-sdk-license-.+'
    - 'android-sdk-preview-license-.+'

jdk:
    - oraclejdk8